* {
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('img/hero-bg.png');
    background: no-repeat left left/cover;
}
/* navbar */
.logo {
    display: flex;
}

.navigation {
    display: flex;
    color: transparent;
    justify-content: space-between;
    margin: 0px 100px;
    padding: 20px 0px;
}

.logo h3 {
    color: #0546b5;
    margin-top: 2px;
    font-size: 30px;
    font-family: sans-serif;
}

#imglogo {
    display: flex;
    image-rendering: auto;
    size-adjust: 5px;
    height: 40px;
    width: 60px;
}

#headtext {
    display: inline-block;
}

#headtext ul {
    display: flex;
    list-style: none;
}

#headtext ul li {
    color: #0049c8;
    padding: 15px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

#btn {
    background-color: rgb(100, 100, 241);
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: -10px;
    padding: 10px 20px;
}

/*  Home page */
#homepage {
    display: flex;
    justify-content: space-evenly;
    color: transparent;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* padding: 60px 0px; */

}

#hometext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
   width: 42rem;
}

#hometext h2{
    padding: 0px 30px;
    font-size: 50px;
    font-family: sans-serif;
    color: #003084;
}
#hometext p{
    margin: 15px 0px;
    padding: 0px 30px;
    font-size: 26px;
    font-family: sans-serif;
}
#hometext button{
    margin: 15px 30px;
    width: 140px;
    height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #377ffb;
    border-radius: 5px;
    color: white;
    border: 0px;
}
.homeimage img {
   height: 40rem;
   width: 42rem;
}


/* Trusted by */
.trusted{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 400px;
    z-index: 4;
    color: transparent;
    background-color: rgb(237, 245, 255);
    /* transition: all 0.1s ease-in; */
}
.trusted:hover{
    transition: all 1s ease-in;
  color: #0444b4;
}

 .trusted ul{
    display: flex;
    list-style: none;
}

.trusted ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -50px;
    padding-top:50px;
    height: 200px;
    width: 200px;
 }
 .trusted ul li img{
     height: 80px;
     width:  100px;
     transition: all 1s ease-in-out ;
    }
    .trusted ul li img:hover{
        transform: scale(2);
       /* height: 400px;
       width: 400px; */
    }
